@use '../../utils/variables' as *;

.landing-layout {
  display: grid;
  grid-template-rows: 5rem 1fr;
  height: 100%;
  width: 100%;
  padding: 0 2rem;
  background-image: url('../../assets/backgroundImages/plant-growing-from-coins-glass-jar-blurred-nature.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
