@use '../../utils/variables' as *;

.sidenav {
    height: 100%;
    width: 100%;
    background-color: $gray-light;
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 2rem;

    &__logo {
      font-size: 1.5rem;
      padding-left: 3rem;
      margin-top: 2rem;
      margin-bottom: 3rem;
      height: fit-content;
      text-decoration: none;
    }
}

a, .sidenav-link__icon {
  color: $primary;
}

.sidenav-links {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-items: start;
    list-style: none;
    gap: 2rem;
    padding-left: 3rem;
    font-size: 1rem;
}

.sidenav-link {
    display: flex;
    align-items: center;
    gap: 1rem;
    text-decoration: none;

    &:hover {
        text-decoration: underline 0.1rem solid $primary;
        text-underline-offset: 0.5rem;
    }
}


.sidenav-logout {
   display: flex; 
   align-items: center;
   padding-left: 3rem;
   gap: 0.5rem;
   margin-bottom: 2rem;
   color: $primary;
   background-color: transparent;
   border: none;
   text-align: start;
   font-size: 1rem; 
   font-family: inherit;
   cursor: pointer;
 
   &:hover {
       text-decoration: underline 0.1rem solid $primary;
       text-underline-offset: 0.5rem;
   }
}
