@use '../../utils/variables' as *;

.sidenav {
    height: 100%;
    width: 100%;
    background-color: $gray-light;
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 2rem;

    &__logo {
      font-size: 1.5rem;
      padding-left: 3rem;
      margin-top: 2rem;
      margin-bottom: 1rem;
      height: fit-content;
      text-decoration: none;
    }
}

a, .sidenav-link__icon {
  color: $primary;
}

.sidenav-links {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-items: start;
    list-style: none;
    gap: 2rem;
    padding-left: 2rem;
    font-size: 1rem;
}

.sidenav-link, .sidenav-link__active {
    display: flex;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
    height: 2rem;
    width: 80%;
    padding-left: 1rem;
    border-radius: 0.25rem;
    transition: background-color 0.3s ease, color 0.3s ease;

    &:hover {
        background-color: rgba(128, 128, 128, 0.15);
        color: $primary;
    }

    &__active {
      background-color: $primary;
      color: $white;
    }
}


.sidenav-logout {
   display: flex; 
   height: 2rem;
   width: 70%;
   align-items: center;
   gap: 0.5rem;
   padding-left: 1rem;
   margin-left: 2rem;
   margin-bottom: 2rem;
   color: $primary;
   background-color: transparent;
   border: none;
   text-align: start;
   font-size: 1rem; 
   font-family: inherit;
   cursor: pointer;
 
   &:hover {
        background-color: rgba(128, 128, 128, 0.15);
        border-radius: 0.5rem;
   }
}
