@use '../../utils/variables' as *;

.dashboard-layout {
    height: 100%;
    width: 100%;
    display: grid;
    flex-shrink: 0;
    grid-template-columns: 12rem 1fr;
    background-color: $gray-light;
    padding: 1rem;
}

.outlet {
  height: 100%;
  width: 100%;
  background-color: $white;
  padding: 1rem;
  border-radius: 1rem;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
}
