@use "../../utils/variables" as *;

.heading {
    display: flex;
    justify-content: space-between;
}

.items-per-page-selector {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#itemsPerPage {
  border: 1.5px solid $primary;
  border-radius: 0.25rem;
  cursor: pointer;
}

.items-per-page-label {
    font-size: 0.8rem;
    color: $primary;
    font-weight: 600;
}

.pagination-buttons {
  margin-top: 1rem;
  justify-self: end;
  display: flex;
  gap: 1rem;
}

.pagination-buttons__prev, .pagination-buttons__next {
  width: 5rem;
  background-color: $primary-light;
  color: $white;
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 1s;

  &:hover {
    background-color: $primary;
  }

  &:disabled {
    cursor: not-allowed;
    background-color: $gray;
  }

}

        //   style={{
        //     marginRight: "10px",
        //     padding: "8px 12px",
        //     backgroundColor: "#0377A9",
        //     color: "white",
        //     border: "none",
        //     borderRadius: "4px",
        //     cursor: currentPage > 0 ? "pointer" : "not-allowed",
        //   }}

        //   style={{
        //     padding: "8px 12px",
        //     backgroundColor: "#0377A9",
        //     color: "white",
        //     border: "none",
        //     borderRadius: "4px",
        //     cursor: endIndex < months.length ? "pointer" : "not-allowed",
        //   }}