@use '../../utils/variables' as *;

.income-list {
    display: grid;
    overflow-x: auto;
    overflow-y: hidden;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    scrollbar-color: $primary $gray-light;
    justify-items: center;
}

.income-item {
    display: flex;
    place-items: center;
    gap: 0.5rem;
    padding-left: 1px;

    &__icon {
        background-color: $gray-light;
        color: $primary;
        height: 2.5rem;
        width: 2.5rem;
        display: grid; 
        place-items: center;
        border-radius: 0.5rem;

        &:hover {
            outline: 0.5px solid $primary;
        }
    }

    &__right {
        display: grid;
        gap: 0.5rem;
    }

    &__category {
      font-size: 0.8rem;
      margin: 0;
    }

    &__amount {
        font-size: 0.8rem;
        font-weight: 600;
        margin: 0;
    }
}

.no-data {
    text-align: center;

    &__add-income {
        background-color: $primary;
        color: $white;
        padding: 0.5rem;
        border: none;
        border-radius: 0.25rem;
        box-shadow: 0 0 0.25rem $gray;
        font-size: 0.9rem;
        cursor: pointer;
    }
}