@use '../../utils/variables' as *;

.header {
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: start;

  &__page {
    color: $black;
    margin: 0;
  }
}

.header-right {
   display: flex; 
   align-items: center;
   border: 1px solid $gray;
   border-radius: 0.5rem;
   padding: 0.2rem;
   gap: 0.5rem;
   
   &__name {
     font-size: 0.8rem;
     font-weight: 600;
     margin: 0;
   }

   &__email {
     font-size: 0.7rem;
     color: $gray-dark;
     margin: 0;
   }

   &__caret {
    color: $black;
   }

   &__avatar {
    color: $primary;
   }
}


