@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

$primary-font: "Marcellus", serif;
$secondary-font: "Roboto Mono", serif;

// Primary Palette
$primary: #0377A9;
$primary-light: #049ada;
$primary-dark: #036a96;

// Secondary Palette
$secondary: #9DE2FF;
$secondary-light: #9DE2FF;
$secondary-dark: #9DE2FF;

// Neutral Palette
$white: #ffffff;
$black: #000000;
$gray-light: #E2EBF0;
$gray: #bdc3c7;
$gray-dark: #7f8c8d;

// Feedback Colors
$success: #2ecc71;
$error: #e74c3c;
$warning: #f39c12;
$info: #3498db;