@use '../../utils/variables' as *;

.reset-pwd {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;

    &__overlay {
      height: inherit;
      width: inherit;
      background-color: $primary;
      opacity: 20%;
    }
}

.rp-form {
    position: inherit;
    top: inherit;
    left: inherit;
    transform: inherit;
    width: 25rem;
    background-color: $white;
    color: $black;
    border-radius: 0.50rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2.5rem;
    box-shadow: 0 0 5px $gray-dark;

    &__header {
        font-size: 1.25rem;
        color: $primary;
        margin: 0;
    }

    &__email {
        width: 100%;
        position: relative;

        label {
            font-size: 0.75rem;
            color: $gray-dark;
            background-color: $white;
            position: absolute;
            top: 0.75rem;
            left: 0;
            padding: 0 .25rem;
            cursor: text;
            transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
        }

        input {
            border: none;
            border-bottom: 0.1rem solid $gray;
            width: 100%;
            box-sizing: border-box;
            padding: 0.75rem 0.55rem;
            font-size: 0.8rem;
            z-index: 50;

            &:focus,
            &:valid {
                outline: 0.15rem solid $primary;
                border-radius: 0.25rem;
                border: none;
            }

            &:focus+label,
            &:valid+label,
            &:not(:placeholder-shown)+label {
                top: -0.65rem;
                font-size: 0.75rem;
                left: 0.5rem;
            }
        }
    }

    &__reset {
        color: $white;
        background-color: $primary-light;
        width: 100%;
        font-size: 0.75rem;
        padding: 0.75rem 0;
        border: none;
        border-radius: 0.25rem;
        cursor: pointer;
        box-shadow: 0 0 2px $black;

    }

    &__login {
        font-size: 0.75rem;
        font-family: $primary-font;
        background: transparent;
        border: none;
        cursor: pointer;
        color: $gray-dark;

        &:hover {
          text-decoration: underline;
          text-underline-offset: 5px;
        }
    }
}
