@use './utils/variables' as *;

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  font-family: $primary-font;
}

#root {
  height: inherit;
  width: inherit;
}
