@use '../../utils/variables' as *;

.nav {
    display: flex;
    justify-content: space-between;

    &__header {
        font-size: 1.5rem;
        text-decoration: none; 
        color: $primary;
    }
}

.center-links {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    gap: 1rem;
    list-style-type: none;
    
    &__link {
        text-decoration: none;
        color: $black;

        &:hover {
          color: $primary;
        }
    }
}

.right-links {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1rem;

    &__login {
        background: none;
        border: none;
        color: $black;
        cursor: pointer;

        &:hover {
          color: $primary;
        }
    }

    &__signup {
        background-color: $primary;
        color: $white;
        border: none;
        border-radius: 0.5rem;
        height: 2rem;
        padding: 0.5rem;
        cursor: pointer;

        &:hover {
            background-color: $primary-dark;
        }
    }
}
